name: Test and coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v6.3.0
        with:
          go-version: '1.26'
      - name: Run coverage
        run:  go env -w GOTOOLCHAIN=go1.25.0+auto && go test -coverpkg=./... ./... -race -coverprofile=coverage.out -covermode=atomic
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  integration:
    runs-on: ubuntu-latest
    services:
      consul:
        image: hashicorp/consul:latest
        ports:
          - 8500:8500
        options: --health-cmd="consul members" --health-interval=2s --health-timeout=5s --health-retries=10
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6.3.0
        with:
          go-version: '1.26'
      - name: Run integration tests
        run: go env -w GOTOOLCHAIN=go1.25.0+auto && go test -v -tags=integration -race ./...
        env:
          CONSUL_HTTP_ADDR: http://localhost:8500
